.homepage {
  /* text-align: center; */
  margin: 5px;
  padding: 10px;
}


/* .homepage a {
  text-decoration: none;
} */

.homepage h1 {
  font-size: 3rem;
  text-align: center;
  /* letter-spacing: -2px; */
}
